.container{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

.rightPanel{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 50px;
    border-radius: 30px;
    width: 475px;
    background-color: rgb(32, 32, 32);
    color: white;
    overflow: scroll;
    bottom: 5%;
}

.buttonContainers{
    display: flex;
}