.tile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.id{
    margin: 5px;
}

.button{
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
}

.button:active{
    background-color: darkred;
}