body{
    background-color: rgb(43, 43, 43);
}

.container{
    position: relative;
}

.rpButton{
    margin: 20px;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    padding: 5px;
}

.rpButton:hover{
    border-style: solid;
    border-width: 0px 0px 3px;
    border-color: rgb(100, 0, 170);
}



canvas{
    border-style: solid;
    border-width: 10px;
    width: 200%;
    height: 200%;
}

.rightPanel{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 50px;
    border-radius: 30px;
    width: 450px;
    height: 800px;
    background-color: rgb(32, 32, 32);
    color: white;
}

.rpButtons{
    display: flex;
    flex-direction: row;
}