.App{
  text-align: center;
}

body{
  background-image: url('./assets/images/backgroundImage.png');
  background-size: auto;
  background-repeat: no-repeat;
}

body.noBg{
  text-align: center;
  background-color: rgb(43, 43, 43);
  background-image: none;
}

.TitleText{
  color: rgb(3, 227, 99);
  font-size: 600%;
  font-weight: bold;
}

hr{
  color: rgb(3, 227, 99);
  border-style: solid;
  width: 300px;
  margin: 30px auto;
}

.tilesLogo{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 256px;
  height: 64px;
}

.githubLogo{
  position: fixed;
  bottom: 30px;
  margin-top: 50px;
  width: 24px;
  height: 24px;
}